*{
  --primary-blue: #4b7bec;
  /* --primary-blue: #1769aa; */
  --secondary-blue: #4b7bec;
  --primary-white: #dfe4ea;
  --secondary-white: #f1f2f6;
  --primary-black: #2f3542;
  --primary-font: #424242;
}

main {
  /* background: #ecf0f1; */
  background: var(--primary-white);
}